{# <ul class="nav nav-tabs tabs-right">
	<li class="nav-item active">
		<a class="nav-link" href="{{ path('user') }}" data-toggle="tab">Mon profil</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#" data-toggle="tab">Mes commandes</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#" data-toggle="tab">Mes articles</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#" data-toggle="tab">Mes sports</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#" data-toggle="tab">Mes favoris</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#" data-toggle="tab">Mes préférences</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ path('messages') }}" data-toggle="tab">Mes messages</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{ path('user_ads') }}" data-toggle="tab">Mes annonces</a>
	</li>
</ul> #}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<div id="profil_content_navbar_content" class="nav nav-tabs tabs-right">
	<ul class="profil_content_navbar_option">
		<li class="nav-item active">
			<a class="nav-link" href="#profil" data-toggle="tab">Mon profil</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#command" data-toggle="tab">Mes commandes</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#messages" data-toggle="tab">Mes articles</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#settings" data-toggle="tab">Mes sports</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#" data-toggle="tab">Mes favoris</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#adresses" data-toggle="tab">Mes adresses</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#" data-toggle="tab">Mes préférences</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('messages') }}" data-toggle="tab">Mes messages</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('user_ads') }}" data-toggle="tab">Mes annonces</a>
		</li>
	</ul>
</div>