{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/register/register.css') }}">
    {% endblock %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="register_section">
        <div class="left_register_div">
            <img src="{{ asset('images/login/image_login' ~ random(5) ~ '.png') }}">
            <div class="register_logo_lg">
                <img src={{ asset('images/findygo_logo.png') }} alt="logo_findygo">
            </div>
        </div>
        <div class="right_register_div bg-gray-100 z-0">
            <section>
                {% include 'components/register-progress-bar.html.twig'
                with {
                    'createUser': 'active',
                    'moreInformation':'',
                    'login':''
                } %}
                <h2>Créer un compte</h2>
                <form class="register_input_form" action="{{ path('findygo_register_1') }}" method="post">
                    <div class="label_input">
                        <label>
                            <i class="fas fa-user-circle"></i>
                            <input class="text_input" type="text" name="pseudo" placeholder="Pseudo*" required>
                        </label>
                    </div>
                    <div class="label_input">
                        <label>
                        <i class="far fa-envelope"></i>
                        <input class="text_input" type="email" name="email" placeholder="Email*" required>
                        </label>
                    </div>
                    <div class="label_input">
                        <label>
                            <i class="fa fa-lock"></i>
                            <input class="text_input" type="password" name="password" id="password-input" placeholder="Mot de passe*" required>
                            <span class="eye"><i class="fa fa-eye fa-eye-password cursor-pointer"></i></span>
                        </label>
                    </div>
                    <div class="is-password-correct" style="margin-top: 10px">
{#                        TODO icon dinamique en js quand critere ok#}
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fa fa-close"></i></span>8 caractères</li>
                            <li><span class="fa-li"><i class="fa fa-close"></i></span>1 caractère spécial</li>
                            <li><span class="fa-li"><i class="fa fa-close"></i></span>1 chiffre</li>
                        </ul>
                    </div>
                    <div class="label_input " style="margin-top: 0">
                        <label>
                            <i class="fa fa-lock"></i>
                            <input class="text_input" type="password" id="confirm-password-input" name="password_confirm" placeholder="Confirmer le mot de passe*" required>
                            <span class="eye"><i class="fa fa-eye fa-eye-confirm cursor-pointer"></i></span>
                        </label>
                    </div>
                    
                    <button class="register_submit_btn bg-fonce hover:bg-clair duration-300" type="submit">Étape suivante</button>
                </form>
                <div>
                    <a class="main_link text-fonce underline underline-offset-2 ml-1 hover:decoration-clair" href="{{ path('app_login') }}">Retour à la connexion</a>
                </div>
                <div></div>
            </section>
        </div>
    </div>


    <script>
        $(document).ready(function() {
            $(".fa-eye-confirm").on('click', function() {
                var attr = $('#confirm-password-input').attr('type');
                if (attr == "password") {
                    $("#confirm-password-input").attr("type", "text");
                } else {
                    $("#confirm-password-input").attr("type", "password");;
                }
            });
            $(".fa-eye-password").on('click', function() {
                var attr = $('#password-input').attr('type');
                if (attr == "password") {
                    $("#password-input").attr("type", "text");
                } else {
                    $("#password-input").attr("type", "password");;
                }
            });
        });

    </script>

{% endblock %}
