{% extends 'base.html.twig' %}

{% block title %}Informations supplémentaires{% endblock %}

{% block body %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/register/register-moreInformation.css') }}">
    {% endblock %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <img src={{ asset('images/header/logo.png') }} class="logo_findygo_md" alt="logo_findygo" style="display: none">

    <div class="register_section">
        <div class="left_register_div">
            <img src="{{ asset('images/login/image_login' ~ random(5) ~ '.png') }}">
            <div class="register_logo_lg">
                <img src={{ asset('images/header/logo.png') }} alt="logo_findygo">
            </div>
        </div>
        <div class="right_register_div bg-gray-100 z-0">
            <section>
                {% include 'components/register-progress-bar.html.twig'
                with {
                    'createUser': 'active',
                    'moreInformation':'active',
                    'login':''
                } %}
                <h2>Dernière étape {{ user.username }}!</h2>
                <form class="register_input_form" action="{{ path('findygo_register_2') }}" method="post">
                    <div class="label_input">
                        <label>
                            <i class="fas fa-users"></i>
                            <input class="text_input" type="text" name="nom" placeholder="Nom*" required>
                        </label>
                    </div>
                    <div class="label_input">
                        <label>
                        <i class="fas fa-user-alt"></i>
                        <input class="text_input" type="text" name="prenom" placeholder="Prénom*" required>
                        </label>
                    </div>
                    <div class="label_input">
                        <label>
                            <i class="fas fa-globe"></i>
                            <input class="text_input" type="text" name="pays" placeholder="Pays">
                        </label>
                    </div>
                    <div class="label_input">
                        <label>
                        <i class="fas fa-home"></i>
                        <input class="text_input" type="text" name="ville" placeholder="Ville">
                        </label>
                    </div>
                    <div class="label_input">
                        <label>
                            <i class="fas fa-phone-alt"></i>
                            <input class="text_input" type="text" name="telephone" placeholder="Téléphone*" required>
                        </label>
                    </div>
                    <button class="register_submit_btn bg-fonce hover:bg-clair duration-300" type="submit">Je fonce !</button>
                </form>
                <div>
                    <a class="main_link" href="{{ path('app_login') }}">Rentrer ses informations plus tard</a>
                </div>
            </section>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $(".show-password, .hide-password").on('click', function() {
                var passwordId = $(this).parents('li:first').find('input').attr('id');
                if ($(this).hasClass('show-password')) {
                    $("#" + passwordId).attr("type", "text");
                    $(this).parent().find(".show-password").hide();
                    $(this).parent().find(".hide-password").show();
                } else {
                    $("#" + passwordId).attr("type", "password");
                    $(this).parent().find(".hide-password").hide();
                    $(this).parent().find(".show-password").show();
                }
            });
        });

    </script>

{% endblock %}
