{% extends 'base.html.twig' %}
{% block body %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/login/login.css') }}">
    {% endblock %}

    <img src={{ asset('images/header/logo.png') }} class="logo_findygo_md" alt="logo_findygo" style="display: none">
    <div class="login_section" style="overflow-y: hidden;">
        <div class="left_login_div">
            <img src="{{ asset('images/login/image_login' ~ random(5) ~ '.png') }}">
            <div class="login_logo_lg">
                <img src={{ asset('images/header/logo.png') }} alt="logo_findygo">
            </div>
        </div>
        <div class="container-right-div-login">
            <div class="right_login_div">
                <section>
                    <h2 class="connex">Connexion</h2>
                    <form class="login_input_form" method="post">
                        <div class="label_input">
                            <label>
                                <i class="fas fa-user"></i>
                                <input class="text_input" name="email" type="text" placeholder="Email" value="{{ last_username }}">
                            </label>
                        </div>
                        <div class="label_input">
                            <label>
                                <i class="fas fa-unlock"></i>
                                <input class="text_input" name="password" type="password" placeholder="Mot de passe">
                            </label>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="login_submit_btn" type="submit">Se connecter</button>
                    </form>
                    <div>
                        <a class="main_link" href="{{ path('findygo_register') }}">Créer un compte</a>
                    </div>
{#                    <div>#}
{#                        <a class="secondary_link" href="{{ path('findygo_password_forget') }}">Mot de passe oublié ?</a>#}
{#                    </div>#}
                    <div class="secondary_link-div">
                        <button class="secondary_link btn btn-primary text-white">Mot de passe oublié ?</button>
                    </div>
                </section>
            </div>
            <div class="password-forget-div">
                <section>
                    <h2 class="connex">Récuperer son mot de passe</h2>
                    <form class="login_input_form" method="post" action="{{ path('findygo_password_forget') }}">
                        <div class="label_input">
                            <label>
                                <i class="fas fa-envelope"></i>
                                <input class="text_input" name="email" type="text" placeholder="Email de récupération...">
                            </label>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="login_submit_btn send-mail-password-forgot" type="submit">Envoyer le mail</button>
                    </form>
                    <div>
                        <button class="main_link btn btn-primary text-white" id="go-back-connection">Se connecter</button>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script>
        $('.connex').click(function (){
            $.ajax({
                url: '{{ path('error') }}',
                method: 'get'
            })
        })

        $('.secondary_link').click(function(){
            $('.container-right-div-login').css('height', '100%');
            $('.password-forget-div').addClass('password-forget-div-open');
        })
        $('.send-mail-password-forgot, #go-back-connection').click(function(){
            $('.password-forget-div').addClass('password-forget-div-close');
            $('.password-forget-div').removeClass('password-forget-div-open');
            setTimeout(function (){
                $('.password-forget-div').removeClass('password-forget-div-close');
                $('.container-right-div-login').css('height', '200%');
            },1000)
        })
    </script>

{% endblock %}
