{% extends 'base.html.twig' %}


 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('style/add_product/newproduct.css') }}">
     <!-- add to document <head> -->
     <link href="{{ asset('dist/image-uploader.min.css') }}" rel="stylesheet">
 {% endblock %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <section>
        <form action="{{ path('product_insert') }}" method="post" enctype="multipart/form-data">
            <div class="container">
                <div class="left-container">
                    <div class="left-container-title">
                        <h5>Un geste technique pour ton portefeuille et pour ta planète :</h5>
                        <h3 style="font-family: Poppins; font-size: 32px; font-weight: bold"><span class="text-clair">Vends tes affaires</span> que tu n'utilises plus !</h3>
                    </div>
                    <div class="custom-form-group mt-5">
                        <div class="d-flex">
                            <input required type="text" name="name" placeholder="Nom du produit *" class="custom-form-input border-b border-black">
                            <select required name="brand" id="brand" class="custom-form-select">
                                <option value="" selected disabled hidden>Marque du produit*</option>
                                {% for brand in brands %}
                                    <option value="{{ brand.id }}">{{ brand.label}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex">
                            <select required name="category" id="category" class="custom-form-select">
                                <option value="" selected disabled hidden>Catégorie du produit*</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.label }}</option>
                                {% endfor %}
                            </select>
                            <select required name="state" id="product_state" class="custom-form-select">
                                <option value="" selected disabled hidden>Etat du produit*</option>
                                {% for quality in qualitys %}
                                    <option value="{{ quality.id }}">{{ quality.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex">
                            <input required type="text" name="price" placeholder="Prix de vente du produit *" class="custom-form-input border-b border-black">
                            <input type="text" name="link" placeholder="Lien originel du produit" class="custom-form-input border-b border-black">
                        </div>
                        <div class="d-flex">
                            <select required name="main_color" id="main_color" class="custom-form-select">
                                <option value="" selected disabled hidden>Couleur principale*</option>
                                {% for color in colors %}
                                    <option value="{{ color.id }}">{{ color.label }}</option>
                                {% endfor %}
                            </select>
                            <select name="secondary_color" id="secondary_color" class="custom-form-select">
                                <option value="" selected disabled hidden>Couleur secondaire</option>
                                {% for color in colors %}
                                    <option value="{{ color.id }}">{{ color.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex">
                            <select required name="size" id="size" class="custom-form-select">
                                <option value="" selected disabled hidden>Taille *</option>
                                {% for size in sizes %}
                                    <option value="{{ size.id }}">{{ size.label }}</option>
                                {% endfor %}
                            </select>
                            <select required name="gender" id="gender" class="custom-form-select">
                                <option value="" selected disabled hidden>Genre*</option>
                                {% for gender in genders %}
                                    <option value="{{ gender.id }}">{{ gender.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="" style="font-family: Poppins;font-size: 14px; color: rgb(0,0,0);">
                            <span>Description de ton produit.</span>
                            <br>
                            <span>Donnes le plus d’information possible aux potentiels acheteurs. Pas de secret entre nous ;)</span>
                        </div>
                        <div class="d-flex">
                            <textarea required name="description" id="" cols="30" rows="3" placeholder="ex : taille grand, utilisé pour 1 seule compétition, raquette légère..." class="custom-form-input border-b border-black"></textarea>
                        </div>
                        <div class="flex justify-end text-white">
                            <button type="submit" class="py-3 px-3 shadow duration-500 drop-shadow-xl rounded-md bg-fonce hover:bg-clair hover:text-black focus:outline-none outline-none">Déposer mon annonce</button>
                        </div>
                    </div>
                </div>

                <div class="right-container">
                    <h5>Ajoute des photos à ton produit</h5>
                    <div class="">
                        <h6>Format photo</h6>
                        <span>Uniquement les fichiers du type .jpg .jpeg .png sont acceptés.</span>
                    </div>
                    <div class="input-images"></div>
                </div>
            </div>
        </form>

    </section>
{% endblock %}
{% block javascript %}
<script src="{{ asset('dist/image-uploader.min.js') }}"></script>
<script>
    $(function(){
        $('.input-images').imageUploader({
            extensions: ['.jpg', '.jpeg', '.png'],
            mimes: ['image/jpeg', 'image/png'],
            maxSize: undefined,
            maxFiles: 5,
            label:'Glisse et dépose les images ici',
            imagesInputName:'images',
        });
    });


</script>

{% endblock %}