{% extends 'base.html.twig' %} {% block title %}{{ product.title }}{% endblock
%} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('style/favoris/favorite_card.css') }}" />
{% endblock %} {% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js"></script>
{% endblock %} {% block body %}
<div class="px-5 py-4">
  <div class="row text-dark container-view-product">
    <h4 class="mb-4">{{ product.title }}</h4>
    <div
      class="rounded-xl overflow-hidden border-neutral-400 col-12 border p-0 m-0"
    >
      <div class="col-12 d-flex align-items-center justify-between bg-main p-4">
        <div>
          <div>
            <span class="font-bold">Categorie : </span>
            {{ product.category.label }}
          </div>
          <div>
            <span class="font-bold">Date de mise en ligne : </span>
            {{product.creationDatetime|date("d/m/Y")}}
          </div>
        </div>
        <div class="flex font-bold flex-col">
          <div class="text-3xl">{{ product.price }}</div>
          <div>EUROS</div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div class="text-center">
            <img src={{ asset("images/favoris/raquette.png") }} alt=""
            style="width: 540px" class="my-5" id="main-img" class="main-img">
          </div>
          <div class="row text-dark">
            <div class="col-sm">
              <img src={{ asset("images/favoris/ballon.jpg") }} alt=""
              style="width: 125px" id="2-img" class="second-img">
            </div>
            <div class="col-sm">
              <img src={{ asset("images/favoris/raquette.png") }} alt=""
              style="width: 125px" id="3-img" class="second-img">
            </div>
            <div class="col-sm">
              <img src={{ asset("images/favoris/raquette.png") }} alt=""
              style="width: 125px" id="4-img" class="second-img">
            </div>
            <div class="col-sm">
              <img src={{ asset("images/favoris/raquette.png") }} alt=""
              style="width: 125px" id="5-img" class="second-img">
            </div>
            <div class="col-sm">
              <img src={{ asset("images/favoris/raquette.png") }} alt=""
              style="width: 125px" id="6-img" class="second-img">
            </div>
          </div>
        </div>
        <div class="col-7 p-4">
          <div class="d-flex align-items-center justify-between">
            <div
              style="
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 54px;
              "
            >
              {{ product.user.username }}
            </div>
            <button
              type="submit"
              class="btn"
              style="
                font-size: 14px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                background: white;
                color: #6fcf97;
                border-radius: 6px;
                border-color: #6fcf97;
                height: fit-content;
              "
            >
              Ajouter au favoris
            </button>
          </div>
          <p>{{ product.description }}</p>

          <p>
            <span class="font-bold">Marque : </span>{{ product.brand.label }}
          </p>
          <p>
            <span class="font-bold">Taille : </span>{{ product.size.label }}
          </p>
          <p>
            <span class="font-bold">Qualité : </span>{{ product.quality.label }}
          </p>
          <p>
            <span class="font-bold">Couleur principale : </span>
            <span
              style="height: 15px;
          width: 15px;
          border: 1px solid black; 
          background-color: {{ product.colorPrimary.hexColor }};
          border-radius: 50%;
          display: inline-block;"
            ></span>

            {{ product.colorPrimary.label }}
          </p>
          {% if product.colorSecondary %}
          <span class="font-bold">Couleur secondaire : </span>
          <span
            style="height: 15px;
        width: 15px;
        border: 1px solid black; 
        background-color: {{ product.colorSecondary.hexColor }};
        border-radius: 50%;
        display: inline-block;"
          ></span>

          {{ product.colorSecondary.label }}
        </p>
        {% endif %}
          <hr />
          <div class="row">
            <div class="col-6">
              <button
                type="submit"
                class="btn text-white border-0"
                style="
                  font-size: 14px;
                  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                  background: #262a5c;
                  border-radius: 6px;
                  width: 100%;
                "
              >
                Demander une offre
              </button>
            </div>
          </div>

          {% if sended is defined %}{{ sended }}{% endif %}
        </div>
      </div>
    </div>
  </div>

  <div>
    <h3>Article similaires</h3>
    <section class="py-4" id="favorite_card_section">
      {% for product in related_products %}
      {{
        include("/product/vignette_view_product.html.twig", {
          product: product
        })
      }}
      {% endfor %}
    </section>
  </div>
</div>

<script>
  $('.second-img').on('click', function (){
      var main = document.querySelector('#main-img');
      main.src = this.src
  })
  var seller  = '<input type="hidden" name="seller" id="seller" value="{{ product.id }}"/>'
  var csrf = '<input type="hidden" name="token" id="token" value="{{ csrf_token('send-message') }}"/>'
  var input= '<div class="input-group mb-3">' + '<input name="input-message" id="input-message" type="text" class="form-control" placeholder="Votre message..." required>' + '</div>'
  $('#send-a-message').click(function (){
      $('.send-message-sender').removeAttr('hidden')
      $('#send-a-message').html(input + csrf + seller )
      this.id = ''
  })

  $('.send-message-sender').click(function (){
      var token = $('#token').val()
      var seller = $('#seller').val()
      var message = $('#input-message').val()
      if(message !== ""){
          $.ajax({
              url: '{{ path('messages_send') }}',
              method: 'POST',
              data: {
                  'token' : token,
                  'seller' : seller,
                  'message' : message
              },
              success: function (data){
                  toastr.success('Votre message a bien été envoyé !')
              }
          })
      }else{
          toastr.warning('Veuillez remplir votre message !')
      }
  })
</script>
{% endblock %}
