{% extends 'base.html.twig' %}
{% block title %}
	{{ product.title }}
{% endblock
%}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('style/favoris/favorite_card.css') }}"/>
{% endblock %}
{% block javascript %}
	<script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js"></script>
{% endblock %}
{% block body %}
	<!--
  This component uses @tailwindcss/forms and @tailwindcss/aspect-ratio

  yarn add @tailwindcss/forms @tailwindcss/aspect-ratio
  npm install @tailwindcss/forms @tailwindcss/aspect-ratio

  plugins: [require('@tailwindcss/forms'), require('@tailwindcss/aspect-ratio')]
-->

	<style>
		.no-spinners {
			-moz-appearance: textfield;
		}

		.no-spinners::-webkit-outer-spin-button,
		.no-spinners::-webkit-inner-spin-button {
			margin: 0;
			-webkit-appearance: none;
		}
	</style>

	<section>
		<div class="relative max-w-screen-xl px-4 py-8 mx-auto">
			<div class="grid items-start grid-cols-1 gap-8 md:grid-cols-2">
				<div class="grid grid-cols-2 gap-4 md:grid-cols-1">
					<div class="aspect-w-1 aspect-h-1">
						<img
							alt="Mobile Phone Stand"
							class="object-cover rounded-xl h-full"
							src="https://images1.vinted.net/t/03_0095d_AUrozU5qYFvWZSPmSNg2cBCo/f800/1626272425.jpeg?s=3a043e76e47850446d3731edd2a5269e5d4b36fa"
						/>
					</div>

					<div class="grid grid-cols-2 gap-4 lg:mt-4">
						<div class="aspect-w-1 aspect-h-1">
							<img
								alt="Mobile Phone Stand"
								class="object-cover rounded-xl h-full"
								src="https://images1.vinted.net/t/03_003bc_VLWDV4P6ZuKFTY9ndt2c1CGX/310x430/1649553812.jpeg?s=d5a860fdf1d279833faa5b583f27c6d929f3d1a1"
							/>
						</div>

						<div class="aspect-w-1 aspect-h-1">
							<img
								alt="Mobile Phone Stand"
								class="object-cover rounded-xl h-full"
								src="https://images1.vinted.net/t/01_01f44_tcETGckYgpKSfgtDpMLFiuPN/f800/1630248601.jpeg?s=985195efb0f24bee6bd7d7f089374ff0d5298357"
							/>
						</div>

						<div class="aspect-w-1 aspect-h-1">
							<img
								alt="Mobile Phone Stand"
								class="object-cover rounded-xl"
								src="https://images1.vinted.net/t/01_009be_KXksFSWpnddKLDAAZRB6iKCY/f800/1601621902.jpeg?s=fc9b0c89c23f46b4e561c0a8aea9211218f77aae"
							/>
						</div>
					</div>
				</div>

				<div class="sticky top-5">
					<strong class="border border-blue-600 rounded-full tracking-wide px-3 font-medium py-0.5 text-xs bg-gray-100 text-blue-600">{{ product.category.label }}</strong>

					<div class="flex justify-between mt-8">
						<div class="max-w-[40ch]">
							<h1 class="text-2xl font-bold">{{ product.title }}</h1>
							<hr>
							<p class="mt-0.5 text-sm">Qualité : <span class="text-fonce font-bold">{{ product.quality.label }}</span></p>
							<p class="mt-0.5 text-sm">Marque : <span class="text-fonce font-bold">{{ product.brand.label }}</span></p>
							<p class="mt-0.5 text-sm">Taille : <span class="text-fonce font-bold">{{ product.size.label }}</span></p>
						</div>

						<p class="text-lg font-bold">
							{{ product.price }} €
						</p>
					</div>

					<details class="relative mt-4 group">
						<summary class="block">
							<div class="prose max-w-none group-open:hidden">
								<p>
									{{ product.description }}
								</p>
							</div>
						</summary>
					</details>

					<form class="mt-8">
						<div class="flex mt-8">
							<a	class="block px-5 py-3 ml-3 text-white bg-clair rounded duration-300 favorite-heart favorite-heart-{{ product.id }} cursor-pointer no-underline" data-product-id="{{ product.id }}">
									Ajouter aux favoris <i class="{% if isFavoris(product.id) %}fas{% else %}far{% endif%} fa-heart"></i>
							</a>
							<button	type="submit"	class="block px-5 py-3 ml-3 text-white bg-fonce rounded hover:bg-clair duration-300">
								Faire une offre
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<script>
		$('.favorite-heart')
			.click(function(){
				var productId = $(this).data('product-id');
				if($('.favorite-heart-'+ productId  + ' i').hasClass('fas')){
					$('.favorite-heart-'+ productId  + ' i').removeClass('fas').addClass('far')
				} else {
					$('.favorite-heart-'+ productId  + ' i').removeClass('far').addClass('fas')
				}
				$.ajax({
					url : "/ajouter-un-favoris",
					method : "POST",
					data : {
						'productId' : productId
					},
					success : function(data){
						console.log(data)
					},
					error : function(data){
						console.log(data);
					}
				})
			});
	</script>
{% endblock %}
