{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/favoris/favorite_card.css')}}">
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js" />
{% endblock %}

{% block body %}
    <div class="px-5 py-4 ">
        <div class="row text-dark container-view-product">
            <div class="col-sm">
                <div class="text-center">
                    <img src={{ asset('images/favoris/raquette.png') }} alt="" style="width: 540px" class="my-5" id="main-img" class="main-img">
                </div>
                <div class="row text-dark">
                    <div class="col-sm">
                        <img src={{ asset('images/favoris/ballon.jpg') }} alt="" style="width: 125px" id="2-img" class="second-img">
                    </div>
                    <div class="col-sm">
                        <img src={{ asset('images/favoris/raquette.png') }} alt="" style="width: 125px" id="3-img" class="second-img">
                    </div>
                    <div class="col-sm">
                        <img src={{ asset('images/favoris/raquette.png') }} alt="" style="width: 125px" id="4-img" class="second-img">
                    </div>
                    <div class="col-sm">
                        <img src={{ asset('images/favoris/raquette.png') }} alt="" style="width: 125px" id="5-img" class="second-img">
                    </div>
                    <div class="col-sm">
                        <img src={{ asset('images/favoris/raquette.png') }} alt="" style="width: 125px" id="6-img" class="second-img">
                    </div>
                </div>
            </div>
            <div class="col-5 bg-light p-4 ">
                <h4 class="mb-4">{{ product.title }}</h4>
                <p class="text-secondary">Marque : {{ product.brand }}</p>
                <p class="text-secondary">Taille : {{ product.size }}</p>
                <p class="text-secondary">Qualité : {{ product.quality.label }}</p>
                <p class="text-secondary">Couleur principale : {{ product.colorPrimary.label }}</p>
                <p class="text-secondary">Posté il y a : {{ product.creationDatetime|date("d/m/Y") }}</p>
                <p class="font-weight-bold">Description</p>
                <p>{{ product.description }}</p>
                <hr>
                {% if sended is defined %}{{ sended }}{% endif %}
                <div id="send-a-message">
                    <button class="btn py-2 mb-4"  style="background: #ffffff; border-color:#000000; width:100%">Envoyer un message</button>
                </div>
                <button type="submit" class="send-message-sender btn btn-primary" hidden>Envoyer</button>
                <div id="res"></div>
            </div>
        </div>
        <div class="row text-dark my-5">
            <div class="col-sm">
                <div class="row text-dark ml-1" >
                    <i class="far fa-heart fa-2x mr-2"></i>
                    <h4 class="">Ajouter au favoris</h4>
                </div>
            </div>
            <div class="col-5 bg-light py-5 px-4">
                <h4>A propos du vendeur</h4>
                <hr>
                <div class="about-seller">
                    <div class="row text-dark ml-1">
                        <div class="col-sm">
                            <div class="row text-dark ml-1 favorite_card_seller" >
{#                                <img src="https://i.pravatar.cc/300" style="width: 35px;">#}
                                <p class="">{{ product.user.firstname }} {{ product.user.lastname }}</p>
                            </div>
                        </div>
                        <div class="col-sm mt-4">
                            <a href="#" class="ml-5 btn btn-primary">Voir le profil <i class="fas fa-external-link-square-alt text-white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3>Article similaires</h3>
            <section id="favorite_card_section">
                {% for i in 0..4 %}
                        {{ block("product_vignette", "/product/vignette_view_product.html.twig") }}
                {% endfor %}
            </section> 
        </div>
    </div>

    <script>
        $('.second-img').on('click', function (){
            var main = document.querySelector('#main-img');
            main.src = this.src
        })
        var seller  = '<input type="hidden" name="seller" id="seller" value="{{ product.id }}"/>'
        var csrf = '<input type="hidden" name="token" id="token" value="{{ csrf_token('send-message') }}"/>'
        var input= '<div class="input-group mb-3">' + '<input name="input-message" id="input-message" type="text" class="form-control" placeholder="Votre message..." required>' + '</div>'
        $('#send-a-message').click(function (){
            $('.send-message-sender').removeAttr('hidden')
            $('#send-a-message').html(input + csrf + seller )
            this.id = ''
        })

        $('.send-message-sender').click(function (){
            var token = $('#token').val()
            var seller = $('#seller').val()
            var message = $('#input-message').val()
            if(message !== ""){
                $.ajax({
                    url: '{{ path('messages_send') }}',
                    method: 'POST',
                    data: {
                        'token' : token,
                        'seller' : seller,
                        'message' : message
                    },
                    success: function (data){
                        toastr.success('Votre message a bien été envoyé !')
                    }
                })
            }else{
                toastr.warning('Veuillez remplir votre message !')
            }

        })
    </script>
{% endblock %}

