{% extends 'base.html.twig' %}

{% block title %}Page Article unique!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/favoris/favorite_card.css')}}">
{% endblock %}

{% block body %}
    <div class="px-5 py-4">
        <div class="row text-dark">
            <div class="col-sm">
                <div class="text-center">
                    <img src={{ asset('images/favorite/raquette.png') }} alt="" style="width: 540px" class="my-5">
                </div>
                <div class="row text-dark">
                    <div class="col-sm">
                        <img src={{ asset('images/favorite/raquette.png') }} alt="" style="width: 125px">
                    </div>
                    <div class="col-sm">
                        <img src={{ asset('images/favorite/raquette.png') }} alt="" style="width: 125px">
                    </div>
                    <div class="col-sm">
                        <img src={{ asset('images/favorite/raquette.png') }} alt="" style="width: 125px">
                    </div>
                    <div class="col-sm">
                        <img src={{ asset('images/favorite/raquette.png') }} alt="" style="width: 125px">
                    </div>
                    <div class="col-sm">
                        <img src={{ asset('images/favorite/raquette.png') }} alt="" style="width: 125px">
                    </div>
                </div>
            </div>
            <div class="col-5 bg-light p-4 ">
                <h4 class="mb-4">539.99 €</h4>
                <p class="text-secondary">Marque : XXX</p>
                <p class="text-secondary">Taille : XXX</p>
                <p class="text-secondary">État : XXX</p>
                <p class="text-secondary">Couleur : XXX</p>
                <p class="text-secondary">Ajouté il y a : XXX</p>
                <p class="font-weight-bold">Description</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta quidem, laborum autem tenetur deleniti ipsam adipisci, non accusamus tempore fugit dolore, dolor obcaecati. Minus aut quod quae et perspiciatis architecto?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta quidem, laborum autem tenetur deleniti ipsam adipisci, non accusamus tempore fugit dolore, dolor obcaecati. Minus aut quod quae et perspiciatis architecto?</p>
                <hr>
                <button href="#" class="btn py-2 mb-4" style="background: #ffffff; border-color:#000000; width:100%">Envoyer un message</button>
                <button href="#" class="btn py-2" style="background: #28ca7f; color : #ffffff; width:100%">Se connecter</button>
            </div>
        </div>
        <div class="row text-dark my-5">
            <div class="col-sm">
                <div class="row text-dark ml-1" >
                    <i class="far fa-heart fa-2x mr-2"></i>
                    <h4 class="">Ajouter au favoris</h4>
                </div>
            </div>
            <div class="col-5 bg-light py-5 px-4">
                <h4>A propos du vendeur</h4>
                <hr>
                <div class="header_profil">
                    <div class="row text-dark ml-1" >
                        <div class="col-sm">
                            <div class="row text-dark ml-1 favorite_card_seller" >
                                <img src="https://i.pravatar.cc/300" style="width: 30px;">
                                <p class="ml-3">John Doe</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <a href="#">Voir le profil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3>Article similaires</h3>
            <section id="favorite_card_section">
                {% for i in 0..4 %}
                    <div class="favorite_card_div">
                        <div>
                            <div class="favorite_card_align_heart">
                                <div class="favorite_card_heart">
                                    <i class="fas fa-heart"></i>
                                </div>
                            </div>
                            <div class="favorite_card_div_image">
                            </div>
                            <div class="favorite_card_top_line_description">
                                <div class="favorite_card_seller">

                                    <img src="https://i.pravatar.cc/300">
                                    <div>
                                        <p>John Doe</p>
                                    </div>
                                </div>
                                <div class="favorite_card_date">
                                    <p>09/12/2020</p>
                                </div>
                            </div>
                            <div class="favorite_card_description">
                                <h4>My Babolat 1</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                            <div class="favorite_card_sub_line_description">
                                <p>159.99€</p>
                                <p><a href="">Voir l'article ></a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section> 
        </div>
    </div>
{% endblock %}
