{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/favoris/favorite_card.css')}}">

{% endblock %}


{% block body %}
    <div class="px-5 py-4 ">
        <div class="row text-dark container-view-product">
            <div class="col-sm">
                <div class="text-center">
                    <img src="{{ asset('images/favoris/raquette.png') }}" alt="" style="width: 400px; height: 400px" class="my-5 main-img" id="main-img" >
                </div>
                <div class="row text-dark">
                    <div class="col-sm">
                        <img src={{ asset('images/favoris/ballon.jpg') }} alt="" style="width: 125px" id="2-img" class="second-img">
                    </div>
                    <div class="col-sm">
                        <img src={{ asset('images/favoris/raquette.png') }} alt="" style="width: 125px" id="3-img" class="second-img">
                    </div>
                    <div class="col-sm">
                        <img src={{ asset('images/favoris/raquette.png') }} alt="" style="width: 125px" id="4-img" class="second-img">
                    </div>
                    <div class="col-sm">
                        <img src={{ asset('images/favoris/raquette.png') }} alt="" style="width: 125px" id="5-img" class="second-img">
                    </div>
                    <div class="col-sm">
                        <img src={{ asset('images/favoris/raquette.png') }} alt="" style="width: 125px" id="6-img" class="second-img">
                    </div>
                </div>
            </div>
            <div class="col-5 bg-light p-4 ">
                <h4 class="mb-4">{{ product.title }}</h4>
                <p class="text-secondary">Marque : {{ product.brand }}</p>
                <p class="text-secondary">Taille : {{ product.size }}</p>
                <p class="text-secondary">Qualité : {{ product.quality.label }}</p>
                <p class="text-secondary">Couleur principale : {{ product.colorPrimary.label }}</p>
                <p class="text-secondary">Posté il y a : {{ product.creationDatetime|date("d/m/Y") }}</p>
                <p class="font-weight-bold">Description</p>
                <p>{{ product.description }}</p>
                <hr>
                {% if sended is defined %}{{ sended }}{% endif %}
                <div id="send-a-message">
                    <button class="btn py-2 mb-4"  style="background: #ffffff; border-color:#000000; width:100%">Envoyer un message</button>
                </div>
                <div id="buy">
                    <a class="btn py-2 mb-4" href="{{ path('product_buy', {id : product.id}) }}" style="background: #ffffff; border-color:#000000; width:100%">
                        <div class="c-body">
                            <div class="c-container">
                                <div class="left-side">
                                    <div class="card">
                                        <div class="card-line"></div>
                                        <div class="buttons"></div>
                                    </div>
                                    <div class="post">
                                        <div class="post-line"></div>
                                        <div class="screen">
                                            <div class="dollar">$</div>
                                        </div>
                                        <div class="numbers"></div>
                                        <div class="numbers-line2"></div>
                                    </div>
                                </div>
                                <div class="right-side">
                                    <div class="new">Acheter</div>
                                    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 451.846 451.847"><path d="M345.441 248.292L151.154 442.573c-12.359 12.365-32.397 12.365-44.75 0-12.354-12.354-12.354-32.391 0-44.744L278.318 225.92 106.409 54.017c-12.354-12.359-12.354-32.394 0-44.748 12.354-12.359 32.391-12.359 44.75 0l194.287 194.284c6.177 6.18 9.262 14.271 9.262 22.366 0 8.099-3.091 16.196-9.267 22.373z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#cfcfcf"/></svg>                                    </div>
                            </div>
                        </div>
                    </a>
                </div>
                <button type="submit" class="send-message-sender btn btn-primary" hidden>Envoyer</button>
                <div id="res"></div>
            </div>
        </div>
        <div class="row text-dark my-5">
            <div class="col-sm">
                <div class="row text-dark ml-1" >
                    <i class="far fa-heart fa-2x mr-2"></i>
                    <h4 class="">Ajouter au favoris</h4>
                </div>
            </div>
            <div class="col-5 bg-light py-5 px-4">
                <h4>A propos du vendeur</h4>
                <hr>
                <div class="about-seller">
                    <div class="row text-dark ml-1">
                        <div class="col-sm">
                            <div class="row text-dark ml-1 favorite_card_seller" >
{#                                <img src="https://i.pravatar.cc/300" style="width: 35px;">#}
                                <p class="">{{ product.user.firstname }} {{ product.user.lastname }}</p>
                            </div>
                        </div>
                        <div class="col-sm mt-4">
                            <a href="#" class="ml-5 btn btn-primary">Voir le profil <i class="fas fa-external-link-square-alt text-white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3>Article similaires</h3>
            <section id="favorite_card_section">
                {% for i in 0..4 %}
                    <div class="favorite_card_div">
                        <div>
                            <div class="favorite_card_align_heart">
                                <div class="favorite_card_heart">
                                    <i class="fas fa-heart"></i>
                                </div>
                            </div>
                            <div class="favorite_card_div_image">
                            </div>
                            <div class="favorite_card_top_line_description">
                                <div class="favorite_card_seller">
{#                                    <img src="https://i.pravatar.cc/300">#}
                                    <div>
                                        <p>John Doe</p>
                                    </div>
                                </div>
                                <div class="favorite_card_date">
                                    <p>09/12/2020</p>
                                </div>
                            </div>
                            <div class="favorite_card_description">
                                <h4>My Babolat 1</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                            <div class="favorite_card_sub_line_description">
                                <p>159.99€</p>
                                <p><a href=>Voir l'article ></a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section> 
        </div>
    </div>

    <style>
        .c-body {
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            /*min-height: 100vh;*/
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 100%;
        }
        .c-container {
            background-color: #fff;
            display: flex;
            width: 360px;
            height: 120px;
            position: relative;
            border-radius: 6px;
            transition: 0.3s ease-in-out;
        }
        .c-container:before {
            width: 200vw;
            position: absolute;
            top: 0;
            left: -100vw;
            height: 100%;
            content: "";
        }
        .c-container:hover {
            transform: scale(1.03);
            width: 360px;
        }
        .c-container:hover .left-side {
            width: 100%;
        }
        .left-side {
            background-color: #5de2a3;
            width: 130px;
            height: 120px;
            border-radius: 4px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.3s;
            flex-shrink: 0;
            overflow: hidden;
        }
        .right-side {
            width: calc(100% - 130px);
            display: flex;
            align-items: center;
            overflow: hidden;
            cursor: pointer;
            justify-content: space-between;
            white-space: nowrap;
            transition: 0.3s;
        }
        .right-side:hover {
            background-color: #f9f7f9;
        }
        .arrow {
            width: 20px;
            height: 20px;
            margin-right: 20px;
        }
        .new {
            font-size: 23px;
            font-family: "Lexend Deca", sans-serif;
            margin-left: 20px;
        }
        .card {
            width: 70px;
            height: 46px;
            background-color: #c7ffbc;
            border-radius: 6px;
            position: absolute;
            display: flex;
            z-index: 10;
            flex-direction: column;
            align-items: center;
            -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
            -moz-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
            -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
        }
        .card-line {
            width: 65px;
            height: 13px;
            background-color: #80ea69;
            border-radius: 2px;
            margin-top: 7px;
        }
        @media only screen and (max-width: 480px) {
            .c-container {
                transform: scale(0.7);
            }
            .c-container:hover {
                transform: scale(0.74);
            }
            .new {
                font-size: 18px;
            }
        }
        .buttons {
            width: 8px;
            height: 8px;
            background-color: #379e1f;
            box-shadow: 0 -10px 0 0 #26850e, 0 10px 0 0 #56be3e;
            border-radius: 50%;
            margin-top: 5px;
            transform: rotate(90deg);
            margin: 10px 0 0 -30px;
        }
        .c-container:hover .card {
            animation: slide-top 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
        }
        .c-container:hover .post {
            animation: slide-post 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
        }
        @keyframes slide-top {
            0% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
            50% {
                -webkit-transform: translateY(-70px) rotate(90deg);
                transform: translateY(-70px) rotate(90deg);
            }
            60% {
                -webkit-transform: translateY(-70px) rotate(90deg);
                transform: translateY(-70px) rotate(90deg);
            }
            100% {
                -webkit-transform: translateY(-8px) rotate(90deg);
                transform: translateY(-8px) rotate(90deg);
            }
        }
        .post {
            width: 63px;
            height: 75px;
            background-color: #dddde0;
            position: absolute;
            z-index: 11;
            bottom: 10px;
            top: 120px;
            border-radius: 6px;
            overflow: hidden;
        }
        .post-line {
            width: 47px;
            height: 9px;
            background-color: #545354;
            position: absolute;
            border-radius: 0px 0px 3px 3px;
            right: 8px;
            top: 8px;
        }
        .screen {
            width: 47px;
            height: 23px;
            background-color: #fff;
            position: absolute;
            top: 22px;
            right: 8px;
            border-radius: 3px;
        }
        .numbers {
            width: 12px;
            height: 12px;
            background-color: #a83818;
            box-shadow: 0 -18px 0 0 #838183, 0 18px 0 0 #838183;
            border-radius: 2px;
            position: absolute;
            transform: rotate(90deg);
            left: 25px;
            top: 52px;
        }
        .numbers-line2 {
            width: 12px;
            height: 12px;
            background-color: #aaa9ab;
            box-shadow: 0 -18px 0 0 #aaa9ab, 0 18px 0 0 #aaa9ab;
            border-radius: 2px;
            position: absolute;
            transform: rotate(90deg);
            left: 25px;
            top: 68px;
        }
        @keyframes slide-post {
            50% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
            100% {
                -webkit-transform: translateY(-70px);
                transform: translateY(-70px);
            }
        }
        .dollar {
            position: absolute;
            font-size: 16px;
            font-family: "Lexend Deca", sans-serif;
            width: 100%;
            left: 0;
            top: 0;
            color: #4b953b;
            text-align: center;
        }
        .c-container:hover .dollar {
            animation: fade-in-fwd 0.3s 1s backwards;
        }
        @keyframes fade-in-fwd {
            0% {
                opacity: 0;
                transform: translateY(-5px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    </style>
    <script>
        $('.second-img').on('click', function (){
            var main = document.querySelector('#main-img');
            main.src = this.src
        })
        var seller  = '<input type="hidden" name="seller" id="seller" value="{{ product.id }}"/>'
        var csrf = '<input type="hidden" name="token" id="token" value="{{ csrf_token('send-message') }}"/>'
        var input= '<div class="input-group mb-3">' + '<input name="input-message" id="input-message" type="text" class="form-control" placeholder="Votre message..." required>' + '</div>'
        $('#send-a-message').click(function (){
            $('.send-message-sender').removeAttr('hidden')
            $('#send-a-message').html(input + csrf + seller )
            this.id = ''
        })

        $('.send-message-sender').click(function (){
            var token = $('#token').val()
            var seller = $('#seller').val()
            var message = $('#input-message').val()
            if(message !== ""){
                $.ajax({
                    url: '{{ path('messages_send') }}',
                    method: 'POST',
                    data: {
                        'token' : token,
                        'seller' : seller,
                        'message' : message
                    },
                    success: function (data){
                        toastr.success('Votre message a bien été envoyé !')
                    }
                })
            }else{
                toastr.warning('Veuillez remplir votre message !')
            }

        })
    </script>
{% endblock %}

