{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('style/accueil/accueil.css') }}">
{% endblock %}

{% block body %}

    <div class="banner-area">
        <div class="inner-container">
            <h2>Envie de vendre <br> tes affaires inutilisées ?</h2>
            <div class="btn-header-container">
                <a href="{{ path('product_add') }}" class="sell">Je vends !</a>
                <a href="" class="how-this-work">Comment ça marche ?</a>
            </div>
        </div>
    </div>
    <div class="sports-bar">
        <h2 class="sports-bar-title">Retrouver vos sports préférés</h2>
        <div class="image-sport-container text-center">
            <i class="fas fa-chevron-circle-left fa-6x"></i>
            <img src="{{ asset('images/accueil/foot.png') }}" alt="">
            <img src="{{ asset('images/accueil/rubgy.png') }}" alt="">
            <img src="{{ asset('images/accueil/tennis.png') }}" alt="">
            <img src="{{ asset('images/accueil/basket.png') }}" alt="">
            <img src="{{ asset('images/accueil/boxe.png') }}" alt="">
            <i class="fas fa-chevron-circle-right fa-6x"></i>
        </div>
    </div>
    <div class="show-articles mt-4">
        <h2>Mis en ligne récemment</h2>

    </div>
    <section id="favorite_card_section">
        {% for product in products %}

            <div class="favorite_card_div">
                <div>
                    <div class="favorite_card_align_heart">
                        <div class="favorite_card_heart">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <div class="favorite_card_price">
                        <p>{{ product.price }}</p>
                    </div>
                    <div class="favorite_card_div_image">
                    </div>
                    <div class="favorite_card_top_line_description">
                        <div class="favorite_card_seller">
                            <img src="https://i.pravatar.cc/300">
                            <div>
                                <p>{{ product.user.firstname }} {{ product.user.lastname|upper }}</p>
                            </div>
                        </div>
                        <div class="favorite_card_date">
                            <p>{{ product.creationDatetime|date('d/m/Y') }}</p>
                        </div>
                    </div>
                    <div class="favorite_card_description">
                        <h4>{{ product.title }}</h4>
                        <p>
                           {{ product.description }}
                        </p>
                    </div>
                    <div class="favorite_card_sub_line_description">
                        <p><a href="{{ path('product_show', {'id' : product.id }) }}">Voir l'article></a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

    {% block javascript %}

    {% endblock %}

{% endblock %}
