{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('style/accueil/accueil.css') }}">
    <link rel="stylesheet" href="{{ asset('style/favoris/favorite_card.css')}}">
{% endblock %}

{% block body %}
    <div class="banner-area">
        <div class="inner-container">
            <h2>Envie de vendre <br> tes affaires inutilisées ?</h2>
            <div class="btn-header-container">
                <a href="{{ path('product_add') }}" class="sell" style="text-decoration: none">Je vends !</a>
                <a href="" class="how-this-work" style="text-decoration: none">Comment ça marche ?</a>
            </div>
        </div>
    </div>
    <div class="sports-bar">
        <h2 class="sports-bar-title">Retrouver vos sports préférés</h2>
        <div class="image-sport-container text-center">
            <i class="fas fa-chevron-circle-left fa-6x " id="chevron-left"></i>
            {% for i in 0..4 %}
                <img src="{{ asset('images/accueil/sports/' ~ sports[i]) }}" alt="" id="{{ i + 1 }}" width="150" height="144" >
            {% endfor %}
            <i class="fas fa-chevron-circle-right fa-6x " id="chevron-right" ></i>
        </div>
    </div>
    <div class="show-articles mt-4">
        <h2>Mis en ligne récemment</h2>
    </div>
    <section id="favorite_card_section">
        {% if products is empty %}
            <h1>{{ product_not_found }}</h1>
        {% else %}
            {% for product in products %}
                {{ block("product_vignette", "/product/vignette_view_product.html.twig") }}
            {% endfor %}
        {% endif %}

    </section>

    <script>
        $('#chevron-left').click(function (){
            moveSportLeft()
        })
        $('#chevron-right').click(function (){
            moveSportRight()
        })
        let moveLeft = 0
        let moveRight = 0
        let sports = []
        {% for sport in sports %}
            sports.push("images/accueil/sports/" + "{{ sport }}")
        {% endfor %}
        function moveSportLeft(){
            if(moveRight !== 0 ){
                moveRight--
                moveLeft++
                for (let i = 1; i < 6; i++){
                    $('#' + parseInt(i)).attr("src", sports[i - moveLeft -1])
                }
            }
        }
        function moveSportRight(){
            if(moveRight <= sports.length -6 ) {
                moveRight++
                moveLeft--
                for (let i = 1; i < 6; i++) {
                    $('#' + parseInt(i)).attr("src", sports[i + moveRight - 1])
                }
            }
        }
    </script>
{% endblock %}
