{% extends 'base.html.twig' %}

{% block title %}Confimer vos informations{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/product/pre-buy/pre-buy.css')}}">
{% endblock %}

{% block body %}



    <div class="pre-buy-container-first">
        {% include 'components/progress-bar.html.twig' with {'foo': 'eeee'} %}
        <div class="pre-buy-container">
            <div class="pre-buy-container-left">
                <div class="pre-buy-container-scene outer first-card" style="border-top-left-radius: 20px">
                    <div class="pre-buy-card pre-buy-card-order inner">
                        <div class="card__face card__face--front">
                            <div class="pre-buy-card-title-div-left">
                                <span class="pre-buy-card-title-left">Ma commande</span>
                            </div>
                            <div class="pre-buy-card-body-div-left">
                                <div class="pre-buy-card-body-div-left-container">
                                    <p class="pre-buy-card-body-title-left">{{ product.title }}</p>
                                    <div>
                                        <div class="pre-buy-card-body-div-left-left">
                                            <img src="{{ asset('images/favoris/raquette.png') }}" id="main-img" class="">
                                        </div>
                                        <div class="pre-buy-card-body-div-left-right">
                                            <span class="pre-buy-card-body-size-left">Taille {{ product.size }} - </span>
                                            <span class="pre-buy-card-body-quality-left">{{ product.quality.label }}</span>
                                            <p class="pre-buy-card-body-brand-left">Marque : {{ product.brand }}</p>
                                            <p class="pre-buy-card-body-price-left">{{ product.price }} €</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pre-buy-container-scene outer second-card">
                    <div class="pre-buy-card-turn pre-buy-card-address inner pre-buy-card-turn-form">
                        <div class="card__face card__face--front">
                            <div class="pre-buy-card-title-div-left">
                                <span class="pre-buy-card-title-left">Mon adresse</span>
                            </div>
                            <span class="update-address clicked" id="clicked"><i class="fa fa-pen"></i>Modifier mon adresse</span>
                            <div class="pre-buy-card-address-body-div-left" id="pre-buy-card-address-body-div-left">
                                <div class="pre-buy-card-address-body-name-div">
                                    <p class="pre-buy-card-address-body-name">Livré à {{ product.user.firstname }} {{ product.user.lastname }}</p>
                                </div>
                                <div class="pre-buy-card-address-body-address-div">
                                    <p class="pre-buy-card-address-body-address">{{ product.user.postal_Address }}</p>
                                </div>
                                <div class="pre-buy-card-address-body-postal-div">
                                    <span class="pre-buy-card-address-body-postal">{{ product.user.postal_Code }}</span>, <span class="pre-buy-card-address-body-city">{{ product.user.city }}</span>, <span class="pre-buy-card-address-body-country">{{ product.user.country }}</span>
                                </div>
{#                                TODO FAIRE UNE MODAL AU SURVOL#}
                                <div class="pre-buy-card-address-body-additional-informations-div">
                                    <small><u>Informations complémentaires : </u></small>
                                    <p class="pre-buy-card-address-body-additional-informations">{{ product.user.additionalAddress }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pre-buy-container-scene outer three-card" style="border-bottom-left-radius: 20px">
                    <div class="pre-buy-card pre-buy-card-paiement inner">
                        <div class="card__face card__face--front">
                            <div class="pre-buy-card-title-div-left">
                                <span class="pre-buy-card-title-left">Mode de paiement</span>
                            </div>
                            <div class="pre-buy-card-body-way-div-left">
                                <button disabled>
                                    <i><span class="pay">PAY</span><span class="pal">PAL</span></i>
                                </button>
                                <div class="custom-radio-paiement">
                                    <input type="radio" checked>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="pre-buy-container-scene outer four-card" style="border-bottom-right-radius: 20px">
                    <div class="pre-buy-card pre-buy-card-send inner">
                        <div class="card__face card__face--front">
                            <div class="pre-buy-card-title-div-left">
                                <span class="pre-buy-card-title-left">Mode d'envoi</span>
{#                                TODO FAIRE LES BUTTONS MODE ENVOI#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="" alt="" width="">
            <div class="pre-buy-container-right">
                <div class="pre-buy-container-scene">
                    <div class="pre-buy-card pre-buy-card-resum">
                        <div class="card__face card__face--front">
                            <div class="pre-buy-card-title-div-right">
                                <span class="pre-buy-card-title-right">Résumé de ma commande</span>
                            </div>
                            <div class="pre-buy-card-body-div-right">
                                <div class="pre-buy-card-body-div-right-order">
                                    <div class="pre-buy-card-body-div-right-libelle">
                                        <span class="pre-buy-card-body-right-span">Commande</span>
                                    </div>
                                    <div class="pre-buy-card-body-div-right-price">
                                        <span class="pre-buy-card-body-right-price">{{ product.price }}</span>
                                    </div>
                                </div>
                                <div class="pre-buy-card-body-div-right-tax">
                                    <div class="pre-buy-card-body-div-right-libelle">
                                        <span class="pre-buy-card-body-right-span">Protection des acheteurs</span>
                                    </div>
                                    <div class="pre-buy-card-body-div-right-price">
                                        <span class="pre-buy-card-body-right-price">{{ product.price * 10 / 100 }}</span>
                                    </div>
                                </div>
                                <div class="pre-buy-card-body-div-right-shipping">
                                    <div class="pre-buy-card-body-div-right-libelle">
                                        <span class="pre-buy-card-body-right-span">Frais de port</span>
                                    </div>
                                    <div class="pre-buy-card-body-div-right-price">
                                        <span class="pre-buy-card-body-right-price">3</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="pre-buy-card-body-div-right-total">
                                    <div class="pre-buy-card-body-div-right-libelle">
                                        <span class="pre-buy-card-body-right-span">Total</span>
                                    </div>
                                    <div class="pre-buy-card-body-div-right-price">
                                        <span class="pre-buy-card-body-right-price">113</span>
                                    </div>
                                </div>
                            </div>
                            <script src="https://www.paypal.com/sdk/js?client-id=AX0TPuIo7Dsjd4K9N69MgI-0oHnhB3rUFS33mMuAic47XeX05fUXedh5xSuU_8obyLxLq2PnROg7RpsQ&buyer-country=FR&currency=EUR"></script>
                            <div id="paypal-button-container"></div>
                            <script>paypal.Buttons({
                                createOrder: function (data, actions){
                                    return actions.order.create({
                                        purchase_units:[{
                                        amount:{
                                            value: {{ product.price }}
                                        }
                                    }]
                                  })
                                },
                                onApprove: function (data, actions){
                                  return actions.order.capture().then(function (details){
                                    alert('Achat terminé ' + details.payer.name.given_name)
                                  })
                                }
                              }).render('#paypal-button-container');
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        todo#}
    </div>
    <script>
        var tmpDiv;
        $(function (){
            limitFunc();
        //     $('.update-address').removeClass('clicked')
        //     tmpDiv = $('.pre-buy-card-address-body-div-left').html()
        })
        $('.update-address').mouseover(function (){
            $('.update-address').removeClass('clicked')
        })
        $('body').on('click','.update-address', function (){
            $('#pre-buy-card-address-body-div-left').css('padding-right', '0px')
            $('.pre-buy-card-address-body-div-left').html(
                '<div class="form-add" style="overflow-y: scroll; overflow-x: hidden; height: 180px; padding-right: 10px">' +
                    '<div class="form-group">' +
                        '<label for="street">Numéro et nom de rue</label>' +
                        '<input type="text" id="street" name="street" placeholder="Numero et rue..." class="form-control">' +
                    '</div>' +
                    '<div class="form-group">' +
                        '<label for="postal_code">Code postal</label>' +
                        '<input type="number" id="postal_code" name="postal_code" placeholder="Votre code postal..."  class="form-control">' +
                    '</div>' +
                    '<div class="row">' +
                        '<div class="form-group col-6">' +
                            '<label for="city">Ville</label>' +
                            '<input type="text" id="city" name="city" placeholder="Votre ville..." class="form-control">' +
                        '</div>' +
                        '<div class="form-group col-6">' +
                            '<label for="country">Pays</label>' +
                            '<input type="text" id="country" name="country" placeholder="Votre pays..." class="form-control">' +
                        '</div>' +
                    '</div>' +
                    '<div class="form-group">' +
                        '<label for="additional_info">Informations supplémentaires</label>' +
                        '<input type="text" id="additional_info" name="additional_info" placeholder="Informations complémentaires..."  class="form-control">' +
                    '</div>' +
                '</div>'
            )
            $('.update-address')
                .html('<i class="fa fa-save text-white"></i>Enregistrer')
                .addClass('clicked')
                .removeClass('update-address')
        })
        $('body').on('click','.clicked', function (){
            let tmpAdr = $('#street').val()
            let city = $('#city').val()
            let country = $('#country').val()
            let postal = $('#postal_code').val()
            let add_info = $('#additional_info').val()
          $('#pre-buy-card-address-body-div-left').css('padding-right', '34px')
            $('.pre-buy-card-address-body-div-left').html(tmpDiv)
            if(country!== '' && city!== '' && postal!== '' && tmpAdr!== ''){
              $('.pre-buy-card-address-body-country').text(country)
              $('.pre-buy-card-address-body-city').html(city)
              $('.pre-buy-card-address-body-postal').text(postal)
              $('.pre-buy-card-address-body-address').html(tmpAdr)
              $('.pre-buy-card-address-body-additional-informations').html(add_info)
              tmpDiv = $('.pre-buy-card-address-body-div-left').html()
            }
            $('.clicked')
                .html('<i class="fa fa-pen" ></i>Modifier mon adresse')
                .addClass('update-address')
                .removeClass('clicked')
        })
        let beforeWidth;
        function cutSentence(div){
            let actualWidth = window.innerWidth;
            let tmpText = "{{ product.user.additionalAddress | raw}}";
            if(beforeWidth > actualWidth){
                tmpText = tmpText.slice(0, (beforeWidth /24))
            }else{
                tmpText = tmpText.slice(0, (actualWidth /24))
            }
            div.html(tmpText + '...')
            beforeWidth = actualWidth;
        }

        var limitFunc = function(){
            if (window.innerWidth<400){
{#              TODO FAIRE LA PROGRESS BAR VERSION MOBILE #}
                $('.valid-my-product').html('<img src="{{ asset('images/buy/pre-buy/progress-bar/shopping-cart-solid.png') }}" width="30px">')
                $('.valid-my-informations').html('<img src="{{ asset('images/buy/pre-buy/progress-bar/checkOK.png') }}" width="30px">')
                $('.buy-my-order').html('<img src="{{ asset('images/buy/pre-buy/progress-bar/credit-card-solid.svg') }}" width="30px">')
                $('.wait-my-order').html('<img src="{{ asset('images/buy/pre-buy/progress-bar/shipping-fast-solid.svg') }}" width="30px">')
            }else{
                {% include 'components/progress-bar.html.twig' with {'foo': 'eeee'} %}
            }

        };
        window.addEventListener("resize", limitFunc);
    </script>
{% endblock %}



