{% extends 'base.html.twig' %}

{% block title %}Mes messages{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/messages/messages.css') }}">
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js" />
{% endblock %}

{% block body %}
    <div class="message-container">
        {% if messages|length == 0  %}
            <h3 class="text-center title">Vous n’avez pas encore de message, relax !</h3>
            <div class="imgContainer">
                <img src="{{ asset('images/messages/ellipse.png') }}" alt="ellipse" class="ellipse">
                <img src="{{ asset('images/messages/person.png') }}" alt="person" class="person">
            </div>
        {% else %}
            <table class="table table-striped table-hover mx-5 table-message"  style="width: 94%">
                <tbody>
                {% for message in messages %}
                    <tr>
                        <td scope="row">
                            <a href="#">
                                <img src="{{ asset('images/messages/avatar.png') }}" alt="avatar" class="avatar">
                            </a>
                        </td>
                        <td>
                            <a  href="#" id="message-sender-a">
                                <h5 class="pt-4 linkDefault">
                                    {% if message.sender is not null %}
                                        {{ message.sender.username }}
                                    {% endif %}

                                </h5>
                            </a>
                        </td>
                        <td>
                            <a href="#" id="message-object-a">
                                <p class="pt-4 linkDefault" >
                                    {{ message.object }}
                                </p>
                            </a>
                        </td>
                        <td class="pt-4">
                            <img src="{{ asset('images/messages/trash.png') }}" alt="trash" title="Supprimer le message"
                                 data-url="{{ path('messages_delete',{'id' : message.id}) }}" class="trash" id="{{ message.id }}">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    <script>

        $('.trash').click(function(){
            var url = $(this).attr("data-url")
            var thiss = $(this);
            $.ajax({
                url : url,
                method : 'GET',
                success: function (){
                    $(thiss).parents('td').parents('tr').remove()
                    toastr.success('Message bien supprimé.')
                },
                error: function (){
                    toastr.error('Impossible de supprimer le message.')
                },
            })
        })
    </script>

{% endblock %}
