{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/header/header.css') }}">
{% endblock %}


<div class="complete_header bg-blue-500">
    <div class="top_header">
        <div class="div_header_logo">
            <a href="{{ path('accueil') }}" {% if app.user == null %}style="margin-left: 50%;"{% endif %}>
                <img src={{ asset('images/header/logo.png') }}>
            </a>
        </div>

            <div class="searchBar_header_div">
                <form action="{{ path('product_search') }}" method="get">
                    <button type="submit">
                        <i class="fas fa-search pointer" id="fa-search-product"></i>
                    </button>
                    <input type="text" placeholder="Rechercher des articles" name="product_parameter_string" autocomplete="off">
                </form>
            </div>

        <div class="header_user_option">
            <div class="top_header_icons">
                <a href="{{ path('product_add') }}"><img src={{ asset('images/header/send_icon.svg') }}></a>
                <span>|</span>
                <a href="{{ path('messages') }}"><img src={{ asset('images/header/message.svg') }}></a>
                <span>|</span>
                <a href="{{ path('favoris') }}"><img src={{ asset('images/header/favorite_icon.svg') }}></a>
            </div>
            <div class="header_profil" onclick="openCloseModal()">
                <img src="https://i.pravatar.cc/150?u=fake@pravatar.com">
                <div class="header_profil_name">
                    <p>{{ app.user.username }}</p>
                    <i class="fas fa-chevron-down"></i>
                </div>
                <div id="modal_header_profil">
                    <div class="modal_header_profil_option">
                        <div>
                            <a href="{{ path('user', {page: 'profil'}) }}"><img src={{ asset('images/header/profil.svg') }}><p>Mon profil</p></a>
                        </div>
                        <div>
                            <a href="{{ path('user', {page: 'mes-commandes'}) }}"><img src={{ asset('images/header/order.svg') }}><p>Mes commandes</p></a>
                        </div>
                        <div>
                            <a href="{{ path('messages') }}"><img src={{ asset('images/header/settings.svg') }}><p>Mes préférences</p></a>
                        </div>
                        <div>
                            <a href="{{ path('app_logout') }}"><img src={{ asset('images/header/deconnexion.svg') }}><p>Déconnexion</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sub_header">
        <div class="left_sub_header dropdown-header">
            <span>Catégories</span>
            <div class="dropdown-header-content">
                <a id="woman-title"><h3>Femme</h3></a>
                <a id="man-title"><h3>Homme</h3></a>
                <a id="children-title"><h3>Enfant</h3></a>
            </div>
        </div>
        <div class="right_sub_header">
            <a href="{{ path('faq') }}"><h3 style="width: auto">F.A.Q</h3></a>
            <div style="margin-right: 40px"></div>
            <a href=""><h3 style="width: auto;">A propos</h3></a>
            <form id="search_expand_header">
                <input type="search" placeholder="Search" spellcheck="false">
            </form>
        </div>
        {% set gender = ["Femme", "Homme", "Enfant"] %}
        {% set genderEn = ["woman", "man", "children"] %}
        {% set other = ["Sport", "Marques"] %}

        {% for i in 0..2 %}
            <div class="row bg-light text-dark background-header-gender" id="{{ genderEn[i] }}-window" style="margin-left: -1rem">
                <div class="col-sm-3 mb-3" id="{{ genderEn[i] }}-div">
                    <h5 class="menu-subtitle">{{ gender[i] }}</h5>
                    {# https://www.flaticon.com/packs/men-fashion?word=wear #}
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/clothing/034-Sportswear.svg')}}><p class="menu-item">... Tous les produits</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/clothing/new.svg')}}><p class="menu-item">Nouveauté</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/clothing/041-tshirt.svg')}}><p class="menu-item">T-shirt</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/clothing/029-shirt.svg')}}><p class="menu-item">Polo</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/clothing/019-trousers.svg')}}><p class="menu-item">Pantalon</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/clothing/030-pants.svg')}}><p class="menu-item">Short</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/clothing/032-sneaker.svg')}}><p class="menu-item">Chaussures</p></a>
                </div>
                <div class="col-sm-3 mb-3">
                    <h5 class="menu-subtitle">{{ other[0] }}</h5>
                    {# https://www.flaticon.com/packs/sport-equipment-33?word=wear #}
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/sports/045-whistle.svg')}}><p class="menu-item">... Tous les sports</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/sports/017-goal.svg')}}><p class="menu-item">Football</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/sports/035-rugby.svg')}}><p class="menu-item">Rugby</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/sports/042-tennis.svg')}}><p class="menu-item">Tennis</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/sports/001-basketball-ball.svg')}}><p class="menu-item">Basket-ball</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/sports/009-boxing-gloves.svg')}}><p class="menu-item">Boxe</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/sports/018-golf.svg')}}><p class="menu-item">Golf</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/sports/005-bicycle.svg')}}><p class="menu-item">Cyclisme</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/sports/041-swimming-pool.svg')}}><p class="menu-item">Natation</p></a>
                </div>
                <div class="col-sm-3 mb-3">
                    <h5 class="menu-subtitle">{{ other[1] }}</h5>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/shopping-cart.svg')}}><p>... Tous les marques</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/brand.svg')}}><p>Lorem Ipsum</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/brand.svg')}}><p>Lorem Ipsum</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/brand.svg')}}><p>Lorem Ipsum</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/brand.svg')}}><p>Lorem Ipsum</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/brand.svg')}}><p>Lorem Ipsum</p></a>
                    <a href="#" target="_blank" class="link"><img class="menu-icon" src={{ asset('images/header/brand.svg')}}><p>Lorem Ipsum</p></a>
                </div>
                <div class="col-sm-2 mb-3">
                    <img class="menu-img" src="{{ asset('images/header/illustrations/' ~  genderEn[i]  ~  '/image_' ~ genderEn[i] ~ random(1) ~ '.png') }}">
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<script src="{{ asset('script/base/header-menu.js') }}"></script>
<script>

    function openCloseModal() {
     var modal_header_profil = document.getElementById('modal_header_profil');
        if (modal_header_profil.clientHeight) {
            modal_header_profil.style.height = "0px";
         }else {
        modal_header_profil.style.height = "175px";
        }
    }

</script>
